--only-binary=:all:
--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-cors
joblib
scikit-learn==1.6.1
nltk
numpy<2  # lock here as well for consistency
SQLAlchemy
pdfminer.six
python-docx
boto3>=1.35.0
python-dotenv>=1.0.0
- torch==2.5.1+cpu ; platform_system=="Linux" and platform_machine=="x86_64"
