--only-binary=:all:
--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-cors
joblib
scikit-learn==1.6.1
nltk
numpy<2  # lock here as well for consistency
SQLAlchemy
pdfminer.six
python-docx
boto3>=1.35.0
botocore
python-dotenv>=1.0.0